<div class="row">
	<div class="col-10 offset-1 mt-4">
		<h3>Éditer votre profil</h3>
	</div>
</div>

<div class="row">
	<div class="col-5 offset-1">
		<form method="post" enctype="multipart/form-data">
			{{ form_start(editForm) }}
			{{ form_row(editForm.username) }}
			{{ form_row(editForm.name) }}
			{{ form_row(editForm.surname) }}
		</div>
		<div class="col-5">
			{{ form_row(editForm.email) }}
			{{ form_row(editForm.telephone) }}
			<button id="btnSubmit" type="submit" class="btn btn-primary mb-xl-5">Éditer</button>
			{{ form_end(editForm) }}
		</div>
	</div>
</form>
