<h1>Éditer votre profil</h1>
<form method="post" enctype="multipart/form-data">
	{{ form_start(editForm) }}
	{{ form_row(editForm.username) }}
	{{ form_row(editForm.name) }}
	{{ form_row(editForm.surname) }}
	{{ form_row(editForm.email) }}
	{{ form_row(editForm.telephone) }}
	<button id="btnSubmit" type="submit" class="btn btn-primary mb-xl-5">Editer profil</button>
	{{ form_end(editForm) }}
</form>
