{% extends 'base.html.twig' %}

{% block title %}Student - {{ student.name }}{% endblock %}

{% block home %}
    <a class="dropdown-item" href="{{ path('student_index') }}">Home <span class="sr-only">(current)</span></a>
{% endblock %}

{% block body %}
    <h1>Bienvenido {{ student.name }}</h1>
    <h3>Questionnaire List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Difficutltée</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <th scope="row">{{ questionnaire.id }}</th>
                <td>{{ questionnaire.title }}</td>
                {% if questionnaire.difficulty == 'facile' %}
                    <td><span class="badge badge-success">{{ questionnaire.difficulty }}</span></td>
                {% elseif questionnaire.difficulty == 'difficile' %}
                    <td><span class="badge badge-danger">{{ questionnaire.difficulty }}</span></td>
                {% else %}
                    <td><span class="badge badge-secondary">{{ questionnaire.difficulty }}</span></td>
                {% endif %}

                <td>
                    <a href="{{ path('questionnaire_play', {id: questionnaire.id}) }}" class="btn btn-primary"
                       role="button">Play</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
