{% extends 'base.html.twig' %}

{% block title %}Hello teacherController!{% endblock %}

{% block body %}
    <h1>Bienvenido {{ student.name }}</h1>
    <h3>Questionnaire List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Access code</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <th scope="row">{{ questionnaire.id }}</th>
                <td><a href="{{ path('questionnaire_index', {id: questionnaire.id}) }}"
                       role="button">{{ questionnaire.title }}</a></td>
                {% if questionnaire.difficulty == 'facile' %}
                    <td><span class="badge badge-success">{{ questionnaire.difficulty }}</span></td>
                {% elseif questionnaire.difficulty == 'difficile' %}
                    <td><span class="badge badge-danger">{{ questionnaire.difficulty }}</span></td>
                {% else %}
                    <td><span class="badge badge-secondary">{{ questionnaire.difficulty }}</span></td>
                {% endif %}

                <td>
                    <a href="{#{{ path('questionnaire_edit', {id: questionnaire.id}) }}#}" class="btn btn-primary"
                       role="button">Play</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
