{% extends 'base.html.twig' %}

{% block title %}Etudiant - {{ student.name }}{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="card w-50 m-1">
            <h2 class="card-header text-white bg-dark">Informations personnelles</h2>
            <div class="card-body d-flex justify-content-between">
                <div class="flex-column">
                <h3 class="card-title">{{ student.username }}</h3>
                <p class="card-text">{{ student.name ~ " " ~ student.surname }}</p>
                <p class="card-text">{{ student.email }}</p>
                <p class="card-text">{{ student.hobby }}</p>
                <a href="" class="btn btn-primary">Edit</a>
                </div>
                <img src="{{ asset('images/profile_raul.jpg') }}" alt="profile" class="rounded"
                     style="max-height: 200px; max-width: 200px;">
            </div>
        </div>
        <div class="card w-50 m-1">
            <h2 class="card-header text-white bg-dark">Statistiques</h2>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Nombre de questionnaires joués :
                        <span class="badge badge-info p-1 rounded">{{ passes|length }} -
                            {{ passes|length <= 1 ? 'questionnaire' : 'questionnaires' }}</span>
                    </li>
                    <li class="list-group-item">
                        Questions jouées :
                        <span class="badge badge-info p-1 rounded">{{ numberOfQuestions }} -
                            {{ numberOfQuestions <= 1 ? 'question' : 'questions' }}</span>
                    </li>
                    <li class="list-group-item">
                        Score total :
                        <span class="badge badge-info p-1 rounded">{{ sum }}</span>
                    </li>
                    <li class="list-group-item">
                        Score moyen :
                        <span class="badge badge-info p-1 rounded">{{ average }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mr-auto ml-auto text-center mt-3 w-75">
        <h2>Scores par difficulté :</h2>
        <canvas id="studentChart"></canvas>
    </div>
{% endblock %}

{% block javascripts %}

    <script>let data = {{ spdjson|raw }}</script>
    {{ parent() }}

{% endblock %}