{% extends 'security/security_base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-sm mt-5">

        <h1>Register</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'regisForm'}}) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.email) }}

        <div class="d-flex align-items-baseline">
            <div class="d-block w-75 mr-3">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <div class="form-group">
                    <label for="confpass">Confirm password:<span class="badge badge-danger error p-2 text-white ml-3"></span></label>
                    <input type="password" name="confirm_password" id="confpass" class="form-control"/>
                </div>
            </div>

            <ul class="list-group list-group-flush w-25 pass-list">
                <li class="list-group-item list-group-item-warning">Your password must have between 4 and 10 digits</li>
                <li class="list-group-item list-group-item-warning">It must have at list 1 capital letter</li>
                <li class="list-group-item list-group-item-warning">At list 1 regular letter</li>
                <li class="list-group-item list-group-item-warning">At list 1 number</li>
            </ul>
        </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button id="btnSubmit" type="submit" class="btn btn-primary mb-xl-5">Register</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
