{{ form_start(form) }}
{{ form_row(form.title) }}
<div class="d-flex">
	{{ form_row(form.score) }}
	<div class="alert alert-info w-50" role="alert">
		<strong>Atention!</strong>
		Le points c'est pour trier la difficulté des questions.
	</div>
</div>

{% set error_flag = form_errors(form.imageFile) %}
<label class=" {% if error_flag %}has-error{% endif %}">
	Image
</label>
{{ form_widget(form.imageFile) }}
{% if error_flag %}
	<div class="has-error">
		{{ form_errors(form.imageFile) }}
	</div>
{% endif %}

<ul class="propositions w-75 mr-auto ml-auto" style="list-style: none;" data-prototype="{{ form_widget(form.propositions.vars.prototype)|e('html_attr') }}">
	{% for prop in form.propositions %}
		<li>
			{{ form_errors(prop) }}
			{{ form_widget(prop) }}
			<button type="button" class="close remove-tag" aria-label="Close">
				<span aria-hidden="true" class="text-danger">&times;</span>
			</button>
		</li>
	{% endfor %}
</ul>

<div class="form-group d-flex justify-content-end">
	{{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}
