{{ form_start(form) }}
    {{ form_row(form.wording) }}
    {{ form_row(form.score) }}
    <ul class="propositions" style="list-style: none;"
        data-prototype="{{ form_widget(form.propositions.vars.prototype)|e('html_attr') }}">
        {% for prop in form.propositions %}
            <li>
                {{ form_errors(prop) }}
                {{ form_widget(prop) }}
                <a href="#" class="btn btn-danger remove-tag ">remove</a>
            </li>
        {% endfor %}
    </ul>
    {{ form_row(form.submit) }}
{{ form_end(form) }}
