{% extends 'base.html.twig' %}

{% block title %}Create Question
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-3">
			{{ message }}
		</div>
	{% endfor %}

	<div class="d-flex justify-content-between">
		<h1>Créer une question</h1>

		<div class="text-right">
			<a class="btn btn-primary" href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson_id}) }}" role="button">{{ button|default('Activité terminé') }}</a>
		</div>
	</div>

	{{ include('question/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
