{% extends 'base.html.twig' %}

{% block title %}Formateur -
	{{ teacher.name }}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	<div class="d-flex">
		<div class="card w-100 m-1">
			<h3 class="card-header text-white bg-dark">Informations personnelles</h3>
			<div class="card-body d-flex justify-content-between">
				<div class="flex-column w-75">
					<ul class="list-group w-100">
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Nom d'utilisateur</span>
						</li>
						<li class="list-group-item">{{ teacher.username }}</li>
						{% if teacher.name and teacher.surname %}
							<li class="list-group-item list-group-item-info">
								<span class="font-weight-bold">Prénom et nom</span>
							</li>
							<li class="list-group-item">{{ teacher.name ~ " " ~ teacher.surname }}</li>
						{% endif %}
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Email</span>
						</li>
						<li class="list-group-item">{{ teacher.email }}</li>
						{% if teacher.telephone %}
							<li class="list-group-item list-group-item-info">
								<span class="font-weight-bold">Téléphone</span>
							</li>
							<li class="list-group-item">{{ teacher.telephone }}</li>
						{% endif %}
					</ul>
				</div>
				<div class="d-flex flex-column justify-content-center align-items-center mr-3">
					<a href="{{ path('teacher_edit_avatar') }}">
						{% if teacher.avatar is defined and teacher.avatar is not null %}
							<img src="{{ vich_uploader_asset(teacher.avatar) | imagine_filter('profile') }}" alt="profile" class="rounded-circle profile__img">
						{% else %}
							<img src="{{ asset('images/image-profile.png') | imagine_filter('profile') }}" alt="profile" class="rounded-circle profile__img">
						{% endif %}
					</a>
					<a href="{{ path('teacher_edit_profile') }}" class="btn btn-primary w-75 mt-4">Éditer Profil</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
