{% extends 'base.html.twig' %}

{% block title %}Formateur -
	{{ teacher.name }}
{% endblock %}

{% block body %}
	<div class="row mt-4 mb-5">
		<div class="col-10 offset-1">
			<h3>Informations personnelles</h3>
			<div class="d-flex justify-content-between align-items-center">
				<ul class="list-group w-75">
					<li class="list-group-item list-group-item-info">
						<span class="font-weight-bold">Nom d'utilisateur·rice</span>
					</li>
					<li class="list-group-item">{{ teacher.username }}</li>
					{% if teacher.name and teacher.surname %}
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Prénom et nom</span>
						</li>
						<li class="list-group-item">{{ teacher.name ~ " " ~ teacher.surname }}</li>
					{% endif %}
					{% if teacher.email %}
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Email</span>
						</li>
						<li class="list-group-item">{{ teacher.email }}</li>

					{% endif %}
					{% if teacher.telephone %}
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Téléphone</span>
						</li>
						<li class="list-group-item">{{ teacher.telephone }}</li>
					{% endif %}
				</ul>

				<div class="d-flex flex-column align-items-center">
					<a href="{{ path('teacher_edit_avatar') }}">
						{% if teacher.avatar is defined and teacher.avatar is not null %}
							<img src="{{ vich_uploader_asset(teacher.avatar) | imagine_filter('profile') }}" alt="profile" class="rounded-circle profile__img">
						{% else %}
							<img src="{{ asset('images/image-profile.png') | imagine_filter('profile') }}" alt="profile" class="rounded-circle profile__img">
						{% endif %}
					</a>
					<a href="{{ path('teacher_edit_profile') }}" class="btn btn-primary mt-4">Éditer</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
