{% extends 'base.html.twig' %}

{% block title %}Formateur -
	{{ teacher.name }}
{% endblock %}

{% block body %}
	<div class="row mt-4 mb-5">
		<div class="col-10 offset-1 d-flex flex-column align-items-start">
			<h3>Liste des classes</h3>
			<div class="table-responsive">
				<table class="table border-bottom">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">Nom</th>
							<th scope="col">Localisation</th>
							<th scope="col">Niveau</th>
							<th scope="col">Formateurs·rices</th>
						</tr>
					</thead>
					<tbody>
						{% for classroom in classrooms %}
							<tr>
								<th scope="row"></th>
								<td>
									<a href="{{ path('classroom_show', {id: classroom.id, extra: true}) }}">{{ classroom.name }}</a>
								</td>
								<td>{{ classroom.location }}</td>
								<td>{{ classroom.discipline }}</td>
								<td>
									{% for user in classroom.users %}
										{% if user.roles[0] == 'ROLE_TEACHER' %}
											/
											{{ user.name }}
										{% endif %}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
