{% extends 'base.html.twig' %}

{% block title %}Liste des liens
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-10 offset-1">
			{{ wo_render_breadcrumbs() }}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-10 offset-1">
			{{ form_start(form) }}
			<div class="d-flex justify-content-between">
				<div class="form-group">
					{{ form_errors(form.text) }}
					{{ form_widget(form.text) }}
					{{ form_help(form.text) }}
				</div>
				<div class="form-group">
					{{ form_errors(form.category) }}
					{{ form_widget(form.category) }}
					{{ form_help(form.category) }}
				</div>
				<div class="form-group">
					{{ form_errors(form.author) }}
					{{ form_widget(form.author) }}
					{{ form_help(form.author) }}
				</div>
				<div class="form-group">
					{{ form_widget(form.submit) }}
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>


	<div class="row mt-5">
		<div class="col-10 offset-1">
			<div class="d-flex justify-content-between align-items-center">
				<h3>Liste des liens</h3>
				{% if not classroom_id %}
					<a href="{{ path('link_new') }}" class="btn btn-secondary mb-2" role="button">Créer nouveau</a>
				{% endif %}
			</div>

			<table class="table border-bottom">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Nom</th>
						<th scope="col">Lien</th>
						<th scope="col">Type</th>
						<th scope="col">Auteur·rice</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody>
					{% for link in links %}
						{% if link.classrooms|length > 1 %}
							<tr class="table-warning">
							{% else %}
								<tr>
								{% endif %}
								<th scope="row"></th>
								<td>{{ link.name }}</td>
								<td>
									<a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.link }}</a>
								</td>
								<td>{{ link.category }}</td>
								<td>{{ link.creator }}</td>
								<td>
									{% if (is_granted('ROLE_ADMIN') or app.user.username == link.creator) and classroom_id is null %}
										<a href="{{ path('link_edit', {id: link.id, classroom_id: classroom_id}) }}" class="btn btn-secondary mb-2" role="button">Éditer</a>
										{% if link.classrooms|length > 1 %}
											<form method="post" action="{{ path('link_delete', {id: link.id}) }}" style="display: inline-block" onsubmit="return confirm('Attention ce lien est utilisé dans d\'autres classes.\nSi vous le supprimez, il sera également supprimé de ces autres classes.')">
											{% else %}
												<form method="post" action="{{ path('link_delete', {id: link.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous sur·e de vouloir supprimer ce lien ? \nCette action est irréversible.')">
												{% endif %}
												<input type="hidden" name="_method" value='DELETE'>
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
												<button class="btn btn-danger">Supprimer</button>
											</form>
										{% endif %}
										{% if classroom_id %}
											<a href="{{ path('classroom_link_add', {id: classroom_id, link_id: link.id}) }}" class="btn btn-secondary mb-2" role="button">Ajouter</a>
										{% endif %}
									</td>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">Pas de resultat trouvé</td>
							</tr>
						{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{ knp_pagination_render(links) }}</div>
		</div>
	</div>
{% endblock %}
