{% extends 'base.html.twig' %}

{% block title %}Link index
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<a href="{{ path('link_new') }}" class="btn btn-secondary mb-2" role="button">Create new</a>

	<div class="row">
		<div class="col-12">
			<h1>Liste des liens</h1>
			<table class="table border-bottom">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Titre</th>
						<th scope="col">lien</th>
						<th scope="col">Categorie</th>
						<th scope="col">Author</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for link in links %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td>{{ link.name }}</td>
							<td>
								<a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.link }}</a>
							</td>
							<td>{{ link.category }}</td>
							<td>{{ link.creator }}</td>
							{% if (is_granted('ROLE_ADMIN') or app.user.username == link.creator)%}
								<td>
									<a href="{{ path('link_edit', {id: link.id}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
									<form method="post" action="{{ path('link_delete', {id: link.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
										<input type="hidden" name="_method" value='DELETE'>
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		<div class="pagination">
			{{ knp_pagination_render(links) }}
		</div>
	</div>
</div>{% endblock %}
