{% extends 'base.html.twig' %}

{% block title %}Link
{% endblock %}

{% block body %}
	<h1>Link</h1>

{# TODO check if its necesari#}
	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{ link.name }}</td>
			</tr>
			<tr>
				<th>Link</th>
				<td>{{ link.link }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ link.description }}</td>
			</tr>
			<tr>
				<th>Creator</th>
				<td>{{ link.creator }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('link_index') }}">back to list</a>

	<a href="{{ path('link_edit', {'id': link.id}) }}">edit</a>
{% endblock %}
