{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.level) }}
{{ form_row(form.visibility) }}
{{ form_row(form.playable) }}
<button type="submit" class="btn btn-primary">{{ button|default('Create') }}</button>
{{ form_end(form) }}
