{% extends "base.html.twig" %}

{% block title %}Liste des Modules
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER')) and classroom_id is null %}
		<a href="{{ path('lesson_new') }}" class="btn btn-secondary mb-2" role="button">Créer Module</a>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h1>Liste des modules</h1>
			<table class="table border-bottom">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Titre</th>
						<th scope="col">Author</th>
						<th scope="col">Niveau</th>
						<th scope="col">Date creation</th>
						<th scope="col">Classes</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody>
					{% for lesson in lessons %}
						<tr>
							<th scope="row"></th>
							<td>
								<a href="{{ path('lesson_show', {id: lesson.id, classroom_id: classroom_id}) }}">
									{{ lesson.title }}
								</a>
							</td>
							<td>{{ lesson.creator }}</td>
							<td>{{ lesson.level}}</td>
							<td>{{ lesson.dateCreation}}</td>
							{% if lesson.classrooms|length > 1 %}
								<td>danger</td>
							{% else %}
								<td>cool</td>
							{% endif %}
							<td>
								{% if (is_granted('ROLE_ADMIN') or app.user.username == lesson.creator) %}
									<a href="{{ path('lesson_edit', {id: lesson.id}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
									<form method="post" action="{{ path('lesson_delete', {id: lesson.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
										<input type="hidden" name="_method" value='DELETE'>
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								{% endif %}

								{% if classroom_id is defined and classroom_id is not null %}
									<a href="{{ path('classroom_lesson_add', {id: classroom_id, lesson_id: lesson.id}) }}" class="btn btn-secondary mb-2" role="button">Ajouter</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{ knp_pagination_render(lessons) }}
			</div>
		</div>
	</div>
{% endblock %}
