{% extends 'base.html.twig' %}

{% block title %}
	{{lesson.title}}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

<pre>
	{{ dump(list, lonely) }}
</pre>

	<h1>{{ lesson.title }}</h1>

	<h3>Liste des activites</h3>

	<table class="table border-bottom">
		<thead class="thead-dark">
			<tr>
				<th scope="col"></th>
				<th scope="col">Titre</th>
				<th scope="col">Temps estimé de realisation</th>
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
					<th scope="col">Author</th>
				{% endif %}
				<th scope="col">Niveau</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			{% for questionnaire in questionnaires %}
				<tr>
					<th scope="row"></th>
					{% if is_granted('ROLE_STUDENT') %}
						<td>{{ questionnaire.title }}</td>
					{% else %}
						<td>
							<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson.id, classroom_id: classroom_id}) }}" role="button">{{ questionnaire.title }}</a>
						</td>
					{% endif %}
					<td>{{ questionnaire.realisationTime }}</td>
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
						<td>{{ questionnaire.creator }}</td>
					{% endif %}
					<td>{{ questionnaire.difficulty }}</td>
					<td class="d-flex justify-content-end">
						{% if (is_granted('ROLE_ADMIN') or app.user.username == questionnaire.creator) %}
							<a href="{{ path('questionnaire_edit', {id: questionnaire.id}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
							<form method="post" action="{{ path('lesson_questionnaire_remove', {id: lesson.id, questionnaire_id: questionnaire.id }) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
								<input type="hidden" name="_method" value='DELETE'>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
								<button class="btn btn-danger mr-2">Supprimer</button>
							</form>
						{% endif %}
						<a href="{{ path('questionnaire_play', {id: questionnaire.id, lesson_id: lesson.id}) }}" class="btn btn-success mr-2" role="button">Jouer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if (is_granted('ROLE_ADMIN') or app.user.username == lesson.creator) %}
		<div class="text-right">
			<a href="{{ path('questionnaire_new', {lesson_id: lesson.id, classroom_id: classroom_id, lonely: lonely }) }}" class="btn btn-primary">Créer activité</a>
		</div>
	{% endif %}
{% endblock %}
