{% extends 'base.html.twig' %}

{% block title %}
	{{lesson.title}}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	{% if classroom_id is defined %}
		classroom_id
		<pre>
		{{ dump(classroom_id) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED classroom_id
		</div>
	{% endif %}
	{% if list is defined %}
		list
		<pre>
		{{ dump(list) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED list
		</div>
	{% endif %}
	{% if lonely is defined %}
		lonely
		<pre>
		{{ dump(lonely) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED lonely
		</div>
	{% endif %}

	<h1>{{ lesson.title }}</h1>

	<h3>Liste des activites</h3>

	<table class="table border-bottom">
		<thead class="thead-dark">
			<tr>
				<th scope="col"></th>
				<th scope="col">Titre</th>
				<th scope="col">Temps estimé de realisation</th>
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
					<th scope="col">Author</th>
				{% endif %}
				<th scope="col">Niveau</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			{% for questionnaire in questionnaires %}
				<tr>
					<th scope="row"></th>
					{% if is_granted('ROLE_STUDENT') %}
						<td>{{ questionnaire.title }}</td>
					{% else %}
						<td>
							{% if classroom_id is not null and list is not null %}
								<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson.id, classroom_id: classroom_id, list: list}) }}" role="button">{{ questionnaire.title }}</a>
							{% elseif list is not null %}
								<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson.id, list: list}) }}" role="button">{{ questionnaire.title }}</a>
							{% else %}
								<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson.id,classroom_id: classroom_id, lonely: lonely, extra: true}) }}" role="button">{{ questionnaire.title }}</a>
							{% endif %}
						</td>
					{% endif %}
					<td>{{ questionnaire.realisationTime }}</td>
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
						<td>{{ questionnaire.creator }}</td>
					{% endif %}
					<td>{{ questionnaire.difficulty }}</td>
					<td class="d-flex justify-content-end">
						{% if (is_granted('ROLE_ADMIN') or app.user.username == questionnaire.creator) %}
							{% if lonely is defined and lonely is not null %}
								<a href="{{ path('questionnaire_edit', {id: questionnaire.id, lonely: lonely}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
								<form method="post" action="{{ path('lesson_questionnaire_remove', {id: lesson.id, questionnaire_id: questionnaire.id }) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
									<input type="hidden" name="_method" value='DELETE'>
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
									<button class="btn btn-danger mr-2">Supprimer</button>
								</form>
							{% elseif list is not null and classroom_id is null%}
								<a href="{{ path('questionnaire_edit', {id: questionnaire.id, lesson_id: lesson.id, list: list}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
								<form method="post" action="{{ path('lesson_questionnaire_remove', {id: lesson.id, questionnaire_id: questionnaire.id }) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
									<input type="hidden" name="_method" value='DELETE'>
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
									<button class="btn btn-danger mr-2">Supprimer</button>
								</form>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if (is_granted('ROLE_ADMIN') or app.user.username == lesson.creator) %}
		<div class="text-right">
			{% if lonely is defined and lonely is not null %}
				<a href="{{ path('questionnaire_new', {lesson_id: lesson.id, classroom_id: classroom_id, lonely: lonely }) }}" class="btn btn-primary">Créer activité</a>
			{% elseif list is not null and classroom_id is null%}
				<a href="{{ path('questionnaire_new', {lesson_id: lesson.id, classroom_id: classroom_id, list: list }) }}" class="btn btn-primary">Créer activité</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
