<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Raul Bethencourt Gonzalez">
		<meta name="description" content="Carpa is a pedagogical platform for modern training schools">
		<title>
			{% block title %}Admin - C&P
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}?v=2"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg sticky-top bg-white">
			{% if is_granted('ROLE_TEACHER') %}
				<a class="navbar-brand ml-4" href="{{ path('teacher_index') }}">
				{% elseif is_granted('ROLE_STUDENT') %}
					<a class="navbar-brand ml-4" href="{{ path('student_index') }}">
					{% else %}
						<a class="navbar-brand ml-4" href="{{ path('user_index') }}">
						{% endif %}
						<img src="{{ asset('images/cp-logo-big.webp') }}" class="logo-contact" alt="logo C&P">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav justify-content-center w-100">
							<li class="nav-item">
								{% if is_granted('ROLE_TEACHER') %}
									<a class="nav-link" href="{{ path('teacher_index') }}">MES CLASSES</a>
								{% elseif is_granted('ROLE_STUDENT') %}
									<a class="nav-link" href="{{ path('student_index') }}">MES CLASSES</a>
								{% else %}
									<a class="nav-link" href="{{ path('user_index') }}">CLASSES</a>
								{% endif %}
							</li>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
								<li class="nav-item ml-4 mr-4">
									<a class="nav-link" href="{{ path('toolbox') }}">BOÎTE À OUTILS</a>
								</li>
							{% endif %}
							<li class="nav-item d-flex justify-content-center">
								{% if is_granted('ROLE_TEACHER') %}
									<a class="nav-link mr-2" href="{{ path('teacher_profile') }}">Mon Profile</a>
									{% if teacher.avatar is defined and teacher.avatar is not null %}
										<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(teacher.avatar) }}" alt="profil icon">
									{% else %}
										<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
									{% endif %}
								{% elseif is_granted('ROLE_STUDENT') %}
									<a class="nav-link mr-2" href="{{ path('student_profile') }}">Mon Profile</a>
									{% if student.avatar is defined and student.avatar is not null %}
										<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(student.avatar) }}" alt="profil icon">
									{% else %}
										<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
									{% endif %}
								{% else %}
									<a class="nav-link mr-2" href="{{ path('user_profile') }}">Mon Profile</a>
									{% if user.avatar is defined and user.avatar is not null %}
										<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(user.avatar) }}" alt="profil icon">
									{% else %}
										<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
									{% endif %}
								{% endif %}
							</li>
						</ul>

						<div class="d-flex align-items-center nav__logout--responsive">
							<div class="nav-item d-flex flex-column">
								{{ app.user.username }}
								<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						</div>
					</div>
				</nav>

				<div class="container-sm d-flex justify-content-center flex-column  p-4 mt-5 mb-5 bg-white rounded-lg"> {% block body %}{% endblock %}
					</div>
					{% block javascripts %}
						{{ encore_entry_script_tags('app') }}
					{% endblock %}
				</body>
			</body>
		</body>
	</html>
</body></html>
