<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Raul Bethencourt Gonzalez">
		<meta name="description" content="Carpa is a pedagogical platform for modern training schools">
		<title>
			{% block title %}Admin - CARPA
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}?v=2"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			{% if is_granted('ROLE_TEACHER') %}
				<a class="navbar-brand ml-4" href="{{ path('teacher_index') }}">
					<img src="{{ asset('images/logo-carpa.svg') }}" class="logo-carpa" alt="logo carpa">
				</a>
			{% elseif is_granted('ROLE_STUDENT') %}
				<a class="navbar-brand ml-4" href="{{ path('student_index') }}">
					<img src="{{ asset('images/logo-carpa.svg') }}" class="logo-carpa" alt="logo carpa">
				</a>
			{% else %}
				<a class="navbar-brand ml-4" href="{{ path('user_index') }}">
					<img src="{{ asset('images/logo-carpa.svg') }}" width="55" height="55" alt="logo carpa">
				</a>
			{% endif %}

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="Chercher..." aria-label="Search">
				</form>
				<ul class="navbar-nav justify-content-between align-items-center w-100">
					<div class="d-flex justify-content-around w-25">
						{% if is_granted('ROLE_TEACHER') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('teacher_index') }}">Accueil</a>
							</li>
						{% elseif is_granted('ROLE_STUDENT') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('student_index') }}">Accueil</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('user_index') }}">Accueil</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('events_calendar') }}">Calendrier</a>
						</li>
					</div>
					<div class="d-flex align-items-center nav__logout--responsive">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
						{% if is_granted('ROLE_TEACHER') %}
							<li class="nav-item">
								<a class="nav-link mr-2" href="{{ path('teacher_profile') }}">
									{% if teacher.avatar is defined and teacher.avatar is not null %}
										<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(teacher.avatar) }}" alt="profil icon">
									{% else %}
										<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
									{% endif %}
								</a>
							</li>
						{% elseif is_granted('ROLE_STUDENT') %}
							<li class="nav-item">
								<a class="nav-link mr-2" href="{{ path('student_profile') }}">
									{% if student.avatar is defined and student.avatar is not null %}
										<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(student.avatar) }}" alt="profil icon">
									{% else %}
										<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
									{% endif %}
								</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link mr-2" href="{{ path('user_profile') }}">
									<img class="profile" src="{{ asset('images/image-profile.png') }}" alt="profil icon">
								</a>
							</li>
						{% endif %}
					</div>
				</ul>
			</div>
		</nav>
		<div class="container-sm d-flex justify-content-center flex-column  p-4 mt-5 mb-5 bg-white rounded-lg"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
