<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Raul Bethencourt Gonzalez">
		<meta name="description" content="Carpa is a pedagogical platform for modern training schools">
		<title>
			{% block title %}Admin - C&P
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}?v=2"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg sticky-top bg-white">
		{% if is_granted('ROLE_TEACHER') %}
			<a class="navbar-brand ml-4" href="{{ path('teacher_show') }}">
		{% elseif is_granted('ROLE_STUDENT') %}
			<a class="navbar-brand ml-4" href="{{ path('student_show') }}">
		{% else %}
			<a class="navbar-brand ml-4" href="{{ path('user_show') }}">
		{% endif %}
				<img src="{{ asset('images/cp-logo-big.webp') }}" class="logo-contact" alt="logo C&P">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav justify-content-center w-100">

				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-expanded="false">
							UTILISATEURS
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
							<li>
								<a href="{{ path('user_list', {type: 'teachers'}) }}" class="dropdown-item">LISTE DES FORMATEURS·RICES</a>
							</li>
							<li>
								<a href="{{ path('user_list', {type: 'students'}) }}" class="dropdown-item">LISTE DES APPRENANTS·TES</a>
							</li>
						</ul>
					</li>
				{% endif %}

				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">
							BOÎTE À OUTILS
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
							<li>
								<a class="dropdown-item" href="{{path('lesson_index')}}">MODULES</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('questionnaire_index') }}">ACTIVITÉS</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('link_index') }}">LIENS</a>
							</li>
						</ul>
					</li>
				{% endif %}

					<li class="nav-item d-flex justify-content-center ml-5">
						<a class="nav-link mr-2" {% if is_granted('ROLE_TEACHER') %} href="{{ path('teacher_profile') }} {% elseif is_granted('ROLE_STUDENT') %} href=" {{ path('student_profile') }} {% else %} href="{{ path('user_profile') }} {% endif %}">PROFIL</a>
						{% if app.user.avatar %}
							<img class="profile rounded-circle bg-black" src="{{ vich_uploader_asset(app.user.avatar) | imagine_filter('nav') }}" alt="profil icon">
						{% else %}
							<img class="profile" src="{{ asset('images/image-profile.png') | imagine_filter('profile') }}" alt="profil icon">
						{% endif %}
					</li>
				</ul>

				<div class="nav-item d-flex flex-column mr-4">
					<span class="nav-username">{{ app.user.username }}</span>
					<a class="nav-link pl-0" href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			</div>
		</nav>

		<div class="container-sm d-flex justify-content-center flex-column  p-4 mt-5 mb-5 bg-white rounded-lg"> 
		<h1 class="d-none">C&P</h1>
		{% block body %}{% endblock %}
		</div>
		
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
