{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.discipline) }}
        {{ form_row(form.location) }}
        <button type="submit" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}