{% extends 'base.html.twig' %}

{% block title %}List des classes
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			<h3>Liste des Classes</h3>

			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>discipline</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for classroom in classrooms %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td>
								<a href="{{ path('classroom_show', {'id': classroom.id}) }}">{{ classroom.name }}</a>
							</td>
							<td>{{ classroom.discipline }}</td>
							<td>
								<a class="btn btn-secondary" href="{{ path('classroom_edit', {'id': classroom.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a class="btn btn-primary" href="{{ path('classroom_new') }}">Create new</a>
		</div>
	</div>
{% endblock %}
