{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ classroom.name }} - <span class="badge badge-info">{{ classroom.discipline }}</span></h1>
    <h3>Liste de Partisipants</h3>
    <h3>Teachers</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <th scope="row">{{ teacher.id }}</th>
                <td>{{ teacher.username }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Students</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.username }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mr-2 mb-0">
                {{ message }}
            </div>
        {% endfor %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger mr-2 mb-0" role="alert">
                <strong>Erreur fatal</strong>
            </div>
        {% endif %}
        <div id="inviteForm"{% if not form.vars.submitted %} style="display: none;" {% endif %}
             class="w-75">
            {{ form_start(form) }}
            <div class="d-flex justify-content-between align-items-center">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.type) }}
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
        <a name="btn" id="inviterBtn" class="btn btn-secondary" href="#" role="button" {% if form.vars.submitted %}
            style="display:none;" {% endif %}>Inviter</a>
    </div>
{% endblock %}

