{% extends 'security/security_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="d-flex flex-row justify-content-md-center mt-5">
        <div class="">
            <h1>Register Classroom</h1>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
                {{ form_start(classroomRegistrationForm) }}
                {{ form_row(classroomRegistrationForm.name) }}
                {{ form_row(classroomRegistrationForm.access_code) }}

                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(classroomRegistrationForm) }}
        </div>
    </div>

{% endblock %}
