{% extends 'base.html.twig' %}

{% block title %}
	{{ classroom.name }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% if not formInvite.vars.valid %}
		<div class="alert alert-danger mr-2 mb-0" role="alert">
			<strong>Erreur fatal</strong>
		</div>
	{% endif %}

	{% if not formNotify.vars.valid %}
		<div class="alert alert-danger mr-2 mb-0" role="alert">
			<strong>Erreur fatal</strong>
		</div>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h1>{{ classroom.name }}
					-
					<span class="badge badge-pill badge-info text-white">{{ classroom.discipline }}</span>
				</h1>

			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<a id="inviterBtn" class="btn btn-primary w-25" href="#" role="button" {% if formInvite.vars.submitted %} style="display:none;" {% endif %}>Inviter Utilisateur</a>
					<div id="inviterForm" {% if not formInvite.vars.submitted %} style="display: none;" {% endif %} class="w-100">
						<button type="button" id="closeInviter" class="close">
							<span aria-hidden="true" class="text-danger">&times;</span>
						</button>
						{{ form_start(formInvite) }}
						<div class="invite-form--responsive justify-content-sm-around align-items-center ">
							<div class="form-group m-2">
								{{ form_errors(formInvite.name) }}
								{{ form_widget(formInvite.name) }}
								{{ form_help(formInvite.name) }}
							</div>
							<div class="form-group m-2">
								{{ form_errors(formInvite.surname) }}
								{{ form_widget(formInvite.surname) }}
								{{ form_help(formInvite.surname) }}
							</div>
							<div class="form-group m-2">
								{{ form_errors(formInvite.email) }}
								{{ form_widget(formInvite.email) }}
								{{ form_help(formInvite.email) }}
							</div>
							{% if is_granted('ROLE_TEACHER') %}
								<div class="form-group m-2 d-none">
								{% else %}
									<div class="form-group m-2">
									{% endif %}
									{{ form_errors(formInvite.type) }}
									{{ form_widget(formInvite.type) }}
									{{ form_help(formInvite.type) }}
								</div>
								<div class="form-group m-2">
									{{ form_widget(formInvite.submit) }}
								</div>
							</div>
							{{ form_end(formInvite) }}
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h3>ESPACE ANNONCE</h3>
					{% if notification %}
						<p>{{ notification.text }}</p>
					{% endif %}
					{{ form_start(formNotify) }}
					<div class="input-group m-2">
						{{ form_errors(formNotify.text) }}
						{{ form_widget(formNotify.text) }}
						{{ form_help(formNotify.text) }}
						<div class="input-group-append m-2">
							{{ form_widget(formNotify.submit) }}
						</div>
					</div>
					{{ form_end(formNotify) }}
				</div>
			</div>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') and classroom.users|length > 0 %}
			<div class="row">
				<div class="col-12">
					<div class="d-flex align-items-center">
						<h3>
							<span class="badge badge-pill badge-secondary text-white">Formateur(s)</span>
						</h3>
					</div>
					<table class="table border-bottom">
						<thead class="thead-dark">
							<tr>
								<th scope="col"></th>
								<th scope="col">Prénom</th>
								<th scope="col">Nom</th>
								<th scope="col">Matière(s)</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for user in classroom.users %}
								{% if user.roles[0] == 'ROLE_TEACHER' %}
									<tr>
										<th scope="row">{{ loop.index }}</th>
										<td>{{ user.name }}</td>
										<td>{{ user.surname }}</td>
										<td>{{ user.subject }}</td>
										<td>
											<form method="post" action="{{ path('classroom_user_remove', {id: classroom.id, user_id: user.id, extra: extra }) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
												<input type="hidden" name="_method" value='DELETE'>
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button class="btn btn-danger">Supprimer</button>
											</form>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

		{% if ((is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER')) and classroom.users|length > 0) %}
			<div class="row">
				<div
					class="col-12">
					{# <a href="{{ path('lesson_new', {classroom_id: classroom.id}) }}" class="btn btn-secondary mb-2" role="button">Statistics</a> #}
					<h3>
						<span class="badge badge-pill badge-secondary text-white">Étudiant(s)</span>
					</h3>
					<table class="table border-bottom">
						<thead class="thead-dark ">
							<tr>
								<th scope="col"></th>
								<th scope="col">Prénom</th>
								<th scope="col">Nom</th>
								<th scope="col">Statistics</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for user in classroom.users %}
								{% if user.roles[0] == 'ROLE_STUDENT' %}
									<tr>
										<th scope="row">{{ loop.index }}</th>
										<td>{{ user.name }}</td>
										<td>{{ user.surname }}</td>
										<td>{{ user.hobby }}</td>
										<td>
											<form method="post" action="{{ path('classroom_user_remove', {id: classroom.id, user_id: user.id, extra: extra}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
												<input type="hidden" name="_method" value='DELETE'>
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button class="btn btn-danger">Supprimer</button>
											</form>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

		{% if is_granted('ROLE_STUDENT') and notification %}
			<div class="row">
				<div class="col-12">
					<div class="alert alert-info">
						<h3>ESPACE ANNONCE</h3>
						<p>{{ notification.text }}</p>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col-12">
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
					<a href="{{ path('link_new', {classroom_id: classroom.id, extra: extra}) }}" class="btn btn-secondary mb-2" role="button">Ajouter une Lien</a>
				{% endif %}
				{% if classroom.links|length > 0 %}
					<ul class="list-group">
						<p class="list-group-item list-group-item-dark">Liste des Liens</p>
						{% for link in classroom.links %}
							{% if link.classrooms|length > 1 %}
								<div class="list-group-item list-group-item-danger d-flex justify-content-between">
								{% elseif link.visibility %}
									<div class="list-group-item list-group-item-success d-flex justify-content-between">
									{% else %}
										<div class="list-group-item d-flex justify-content-between">
										{% endif %}
										<a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.name }}
											//
											{{ link.category }}</a>
										{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
											<div class="d-flex">
												<a href="{{ path('link_edit', {id: link.id, classroom_id: classroom.id, extra: extra}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
												<form method="post" action="{{ path('classroom_link_remove', {id: classroom.id, link_id: link.id, extra: extra}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
													<input type="hidden" name="_method" value='DELETE'>
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
													<button class="btn btn-danger">Supprimer</button>
												</form>
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="col-12 d-flex flex-column align-items-center">
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
							<a href="{{ path('lesson_new', {classroom_id: classroom.id}) }}" class="btn btn-secondary mb-2" role="button">Ajouter Module</a>
						{% endif %}
						{% if classroom.lessons|length > 0 %}
							<h3>MES COURS</h3>
						{% endif %}
						<div class="d-flex flex-wrap">
							{% for lesson in lessons %}
								{% if lesson.visibility or is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
									{% if lesson.classrooms|length > 1 %}
										<div class="card bg-danger text-white">
										{% elseif lesson.visibility %}
											<div class="card bg-success">
											{% else %}
												<div class="card">
												{% endif %}
												<div class="card-header">
													<a href="{{ path('lesson_show', {id: lesson.id, classroom_id: classroom.id, lonely: true}) }}">
														<h4 class="card-title">{{lesson.title}}</h4>
													</a>
												</div>
												<img src="{{ asset('images/lesson_category/books.webp') }}" alt="books" width="250" height="auto">
												<div class="card-body">
													<h6 class="card-subtitle mb-2 text-muted">{{lesson.level}}</h6>
													{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
														<div class="d-flex">
															{% if is_granted('ROLE_ADMIN') or app.user.username == lesson.creator %}
																<a href="{{ path('lesson_edit', {id: lesson.id, classroom_id: classroom.id, extra: extra}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
															{% endif %}
															<form method="post" action="{{ path('classroom_lesson_remove', {id: classroom.id, lesson_id: lesson.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
																<input type="hidden" name="_method" value='DELETE'>
																<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
																<button class="btn btn-danger">Supprimer</button>
															</form>
														</div>
													{% endif %}
												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="pagination">
							{{ knp_pagination_render(lessons) }}
						</div>
					</div>
				</div>
			{% endblock %}
