{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Bienvenido {{ user }}</h1>
    <h3>Classroom List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Access code</th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <th scope="row">{{ classroom.id }}</th>
                {% dump(classroom.id) %}
                <td><a href="{{ path('classroom_index', {id: classroom.id}) }}">{{ classroom.name }}</a></td>
                <td class="d-flex justify-content-between ">
                    {{ classroom.accessCode }}
                    <div class="d-flex justify-content-center w-50">
                        <a href="{{ path('user_classroom_edit', {id: classroom.id}) }}" class="btn btn-primary mr-lg-2"
                           role="button">Edit</a>
                        <form method="post" action="{{ path('user_classroom_delete', {id: classroom.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Are you sure?')">
                            <input type="hidden" name="_method" value='DELETE'>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classroom.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('user_classroom_create') }}" class="btn btn-primary">Créer Classroom</a>
    </div>
{% endblock %}