{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs·rices
{% endblock %}

{% block body %}
	<div class="row mt-4">
		<div class="col-5 offset-1">
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_errors(form.name) }}
				{{ form_widget(form.name) }}
				{{ form_help(form.name) }}
			</div>
			<div class="form-group">
				{{ form_errors(form.surname) }}
				{{ form_widget(form.surname) }}
				{{ form_help(form.surname) }}
			</div>
		</div>
		<div class="col-5">
			<div class="form-group">
				{{ form_errors(form.email) }}
				{{ form_widget(form.email) }}
				{{ form_help(form.email) }}
			</div>
			<div class="form-group d-flex justify-content-between">
				{{ form_errors(form.telephone) }}
				{{ form_widget(form.telephone) }}
				{{ form_help(form.telephone) }}
				{{ form_widget(form.submit) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-10 offset-1">
			{% if type == 'teachers' %}
				<h3>Liste des formateurs·rices</h3>
			{% else %}
				<h3>Liste des apprenants·es</h3>
			{% endif %}

			<table class="table border-bottom mt-2">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Prénom</th>
						<th scope="col">Nom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Email</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<th scope="row"></th>
							<td>{{ user.name }}</td>
							<td>{{ user.surname }}</td>
							{% if user.telephone %}
								<td>{{ user.telephone }}</td>
							{% else %}
								<td></td>
							{% endif %}
							<td>{{ user.email }}</td>
							<td>
								<a {% if user.roles[0] == 'ROLE_TEACHER' %} href="{{ path('teacher_edit_profile', {username: user.username, type: type, list_profile_edit: true}) }}" {% else %} href="{{ path('student_edit_profile', {username: user.username, type: type, list_profile_edit: true}) }}" {% endif %} class="btn btn-secondary mr-2">Éditer</a>
								{% if type == 'teachers' %}
									<form method="post" action="{{ path('user_delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer ce·tte formateur·rice ? \nCette action est irréversible.')">
									{% else %}
										<form method="post" action="{{ path('user_delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer cet·te apprenant·e ? \nCette action est irréversible.')">
										{% endif %}
										<input type="hidden" name="_method" value='DELETE'>
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								</td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="pagination">
				{{ knp_pagination_render(users) }}
			</div>
		</div>
	</div>
{% endblock %}
