{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs·rices
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{{ wo_render_breadcrumbs() }}

	<div class="row">
		<div class="col-12">
			{% if type == 'teachers' %}
				<h1>Liste des formateurs·rices</h1>
			{% else %}
				<h1>Liste des apprenants·es</h1>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<table class="table border-bottom">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Prénom</th>
						<th scope="col">Nom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Email</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<th scope="row"></th>
							<td>{{ user.name }}</td>
							<td>{{ user.surname }}</td>
							{% if user.telephone %}
								<td>{{ user.telephone }}</td>
							{% else %}
								<td></td>
							{% endif %}
							<td>{{ user.email }}</td>
							<td>
								<a {% if user.roles[0] == 'ROLE_TEACHER' %} href="{{ path('teacher_edit_profile', {username: user.username, type: type, list_profile_edit: true}) }}" {% else %} href="{{ path('student_edit_profile', {username: user.username, type: type, list_profile_edit: true}) }}" {% endif %} class="btn btn-primary w-75 mt-4">Éditer profil</a>
								{% if type == 'teachers' %}
									<form method="post" action="{{ path('user_delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer ce·tte formateur·rice ? \nCette action est irréversible.')">
									{% else %}
										<form method="post" action="{{ path('user_delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer cet·te apprenant·e ? \nCette action est irréversible.')">
										{% endif %}
										<input type="hidden" name="_method" value='DELETE'>
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
										<button class="btn btn-danger">Supprimer</button>
									</form>
								</td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="pagination">
		{{ knp_pagination_render(users) }}
	</div>
{% endblock %}
