{% extends 'base.html.twig' %}

{% block title %}Etudiant - {{ user.name }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mr-2 mb-0">
            {{ message }}
        </div>
    {% endfor %}

    <div class="d-flex">
        <div class="card w-100 m-1">
            <h2 class="card-header text-white bg-dark">Informations personnelles</h2>
            <div class="card-body d-flex justify-content-between">
                <div class="flex-column w-75">
                    <ul class="list-group w-100">
                        <li class="list-group-item list-group-item-info">
                            <span class="font-weight-bold">Nom d'utilisateur</span></li>
                        <li class="list-group-item">{{ user.username }}</li>
                        <li class="list-group-item list-group-item-info">
                            <span class="font-weight-bold">Prenom et Nom</span></li>
                        <li class="list-group-item">{{ user.name ~ " " ~ user.surname }}</li>
                        <li class="list-group-item list-group-item-info">
                            <span class="font-weight-bold">Email</span></li>
                        <li class="list-group-item">{{ user.email }}</li>
                    </ul>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ml-4">
                    <a href="{{ path('edit_avatar') }}">
                        {% if user.avatar is defined and user.avatar is not null %}
                            <img src="{{ vich_uploader_asset(user.avatar) }}" alt="profile"
                                 class="rounded-circle profile__img">
                        {% else %}
                            <img src="{{ asset('images/image-profile.png') }}" alt="profile"
                                 class="rounded-circle profile__img mb-xl-5">
                        {% endif %}
                    </a>
                    <a href="{{ path('edit_student') }}" class="btn btn-primary w-50 mt-4">Editer Profil</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-auto ml-auto text-center mt-3 w-75">
        <h2><span class="badge badge-dark rounded p-2">Scores par difficulté :</span></h2>
        <canvas id="studentChart"></canvas>
    </div>
{% endblock %}