{% extends 'base.html.twig' %}

{% block title %}Admin -
	{{ user.username }}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	<div class="d-flex">
		<div class="card w-100 m-1">
			<h2 class="card-header text-white bg-dark">Informations personnelles</h2>
			<div class="card-body d-flex justify-content-around">
				<div class="flex-column w-75">
					<ul class="list-group w-100">
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Nom d'utilisateur</span>
						</li>
						<li class="list-group-item">{{ user.username }}</li>
						{% if user.name and user.surname %}
							<li class="list-group-item list-group-item-info">
								<span class="font-weight-bold">Prénom et nom</span>
							</li>
							<li class="list-group-item">{{ user.name ~ " " ~ user.surname }}</li>
						{% endif %}
						<li class="list-group-item list-group-item-info">
							<span class="font-weight-bold">Email</span>
						</li>
						<li class="list-group-item">{{ user.email }}</li>
						{% if user.telephone %}
							<li class="list-group-item list-group-item-info">
								<span class="font-weight-bold">Téléphone</span>
							</li>
							<li class="list-group-item">(0){{ user.telephone }}</li>
						{% endif %}
					</ul>
					<a href="{{ path('user_edit_profile') }}" class="btn btn-primary mt-4">Éditer Profil</a>
				</div>
				<a href="{{ path('user_edit_avataravatar') }}" class="d-flex flex-column align-items-center justify-content-center">
					{% if user.avatar is defined and user.avatar is not null %}
						<img src="{{ vich_uploader_asset(user.avatar) }}" alt="profile" class="rounded-circle profile__img">
					{% else %}
						<img src="{{ asset('images/image-profile.png') }}" alt="profile" class="rounded-circle profile__img mb-xl-5">
					{% endif %}
				</a>
			</div>
		</div>
	</div>
	{# <div class="d-flex justify-content-between mt-4 w-100">
				        <div class="d-flex flex-column align-items-center w-100">
				            <h3><span class="badge badge-dark rounded p-2">Nombre de classes créées :</span></h3>
				            <canvas id="classroomsChart"></canvas>
				        </div>
				        <div class="d-flex flex-column align-items-center w-100">
				            <h3><span class="badge badge-dark rounded p-2">Nombre d'utilisateurs enregistrés :</span></h3>
				            <canvas id="teacherStudentChart"></canvas>
				        </div>
				    </div> #}
{% endblock %}
