{% extends 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<div class="row mt-5">
			<div class="col-5 offset-1">
				<h3 class="mb-3">Liste des administrateurs·rices</h3>
				<ul class="list-group w-100">
					{% for admin in admins %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							{{ admin.name}}
							{{admin.surname}}
							<form method="post" action="{{ path('user_delete', {id: admin.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer cet·te administrateur·rice ? \nCette action est irréversible.')">
								<input type="hidden" name="_method" value='DELETE'>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-5">
				<h3 class="mb-3">Formulaire d'invitation</h3>
				{{ form_start(form) }}
				<div class="form-group mb-3">
					{{ form_errors(form.name) }}
					{{ form_widget(form.name) }}
					{{ form_help(form.name) }}
				</div>
				<div class="form-group mb-3">
					{{ form_errors(form.surname) }}
					{{ form_widget(form.surname) }}
					{{ form_help(form.surname) }}
				</div>
				<div class="form-group mb-3">
					{{ form_errors(form.email) }}
					{{ form_widget(form.email) }}
					{{ form_help(form.email) }}
				</div>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<div class="form-group mb-3 d-none">
						{{ form_errors(form.type) }}
						{{ form_widget(form.type) }}
						{{ form_help(form.type) }}
					</div>
				{% endif %}
				<div class="form-group mb-3">
					{{ form_widget(form.submit) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	{% endif %}

	<div class="row mt-5">
		<div class="col-10 offset-1 d-flex flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h3>Liste des classes</h3>
				<a href="{{ path('classroom_new') }}" class="btn btn-primary">Créer une classe</a>
			</div>
			<div class="table-responsive">
				<table class="table border-bottom">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">Nom</th>
							<th scope="col">Localisation</th>
							<th scope="col">Niveau</th>
							<th scope="col">Formateurs·rices</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for classroom in classrooms %}
							<tr>
								<th scope="row"></th>
								<td>
									<a href="{{ path('classroom_show', {id: classroom.id, extra: true}) }}">{{ classroom.name }}</a>
								</td>
								<td>{{ classroom.location }}</td>
								<td>{{ classroom.discipline }}</td>
								<td>
									{% for user in classroom.users %}
										{% if user.roles[0] == 'ROLE_TEACHER' %}
											/
											{{ user.name }}
										{% endif %}
									{% endfor %}
								</td>
								<td>
									<div class="d-flex">
										<a href="{{ path('classroom_edit', {id: classroom.id}) }}" class="btn btn-secondary mr-lg-2" role="button">Éditer</a>
										<form method="post" action="{{ path('classroom_delete', {id: classroom.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr·e de vouloir supprimer cette classe  ? \nCette action est irréversible.')">
											<input type="hidden" name="_method" value='DELETE'>
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classroom.id) }}">
											<button class="btn btn-danger">Supprimer</button>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pagination">
				{{ knp_pagination_render(classrooms) }}
			</div>
		</div>
	</div>
{% endblock %}
