{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <button href="{{ path('events_new') }}" class="btn btn-primary w-25 mr-auto ml-auto mb-3">Ajouter evenement</button>

    <div 
        id="calendar-holder"
        data-events-url="{{ path('fc_load_events') }}"
        class="w-75"
    ></div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}