{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.type) }}

{% set error_flag = form_errors(form.imageFile) %}
<label class=" {% if error_flag %}has-error{% endif %}">
	Image
</label>
{{ form_widget(form.imageFile) }}
{% if error_flag %}
	<div class="has-error">
		{{ form_errors(form.imageFile) }}
	</div>
{% endif %}

{{ form_row(form.difficulty) }}
{{ form_row(form.level) }}
<div class="d-flex">
{{ form_row(form.realisation_time) }}
<div class="alert alert-info w-50" role="alert">
    <strong>Atention!</strong> Le temps que vous choici ici c'est une estimation de temps pour l'apprenant de realicer l'activité.
</div>
</div>
{{ form_row(form.visibility) }}
{{ form_row(form.playable) }}
<button type="submit" class="btn btn-primary">{{ button|default('Create') }}</button>
{{ form_end(form) }}
