{{ form_start(form) }}

{{ form_row(form.title) }}

{% set error_flag = form_errors(form.imageFile) %}
<label class=" {% if error_flag %}has-error{% endif %}">
	Image
</label>
{{ form_widget(form.imageFile) }}
{% if error_flag %}
	<div class="has-error">
		{{ form_errors(form.imageFile) }}
	</div>
{% endif %}

{{ form_row(form.difficulty) }}
{{ form_row(form.level) }}
{{ form_row(form.realisation_time) }}
{{ form_row(form.visibility) }}
{{ form_row(form.playable) }}
<button type="submit" class="btn btn-primary">{{ button|default('Create') }}</button>
{{ form_end(form) }}
