{% extends "base.html.twig" %}

{% block title %}Liste des activités
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-10 offset-1">
			{{ wo_render_breadcrumbs() }}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-5 offset-1">
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
				{{ form_help(form.title) }}
			</div>
			<div class="form-group">
				{{ form_errors(form.level) }}
				{{ form_widget(form.level) }}
				{{ form_help(form.level) }}
			</div>
			<div class="form-group">
				{{ form_errors(form.category) }}
				{{ form_widget(form.category) }}
				{{ form_help(form.category) }}
			</div>
		</div>
		<div class="col-5">
				<div class="form-group">
					{{ form_errors(form.author) }}
					{{ form_widget(form.author) }}
					{{ form_help(form.author) }}
				</div>
				<div class="form-group d-flex justify-content-between">
					{{ form_errors(form.date) }}
					{{ form_widget(form.date) }}
					{{ form_help(form.date) }}
					{{ form_widget(form.submit) }}
				</div>
			{{ form_end(form) }}
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-10 offset-1">
			<div class="d-flex justify-content-between align-items-center">
				<h3>Liste des activités</h3>
				{% if lesson_id is null %}
					<a href="{{ path('questionnaire_new') }}" class="btn btn-primary mb-2" role="button">Créer nouvelle</a>
				{% endif %}
			</div>

			<table class="table border-bottom mt-2">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Titre</th>
						<th scope="col">Auteur·rice</th>
						<th scope="col">Niveau</th>
						<th scope="col">Catégorie</th>
						<th scope="col">Date de création</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for questionnaire in questionnaires %}
						{% if questionnaire.lessons|length > 1 %}
							<tr class="table-warning">
							{% elseif questionnaire.visibility %}
								<tr class="table-success">
								{% else %}
									<tr>
									{% endif %}
									<th scope="row"></th>
									<td>
										{% if classroom_id is not null and (lonely is defined and lonely is not null) %}
											<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson_id, classroom_id: classroom_id, lonely: lonely}) }}">
												{{ questionnaire.title }}
											</a>
										{% elseif list is not null %}
											<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson_id, list: list, extra: extra}) }}">
												{{ questionnaire.title }}
											</a>
										{% else %}
											<a href="{{ path('questionnaire_show', {id: questionnaire.id, lesson_id: lesson_id}) }}">
												{{ questionnaire.title }}
											</a>
										{% endif %}
									</td>
									<td>{{ questionnaire.creator }}</td>
									<td>{{ questionnaire.level }}</td>
									<td>{{ questionnaire.difficulty }}</td>
									<td>{{ questionnaire.dateCreation }}</td>
									<td>
										{% if (is_granted('ROLE_ADMIN') or app.user.username == questionnaire.creator) and lesson_id is null %}
											<a href="{{ path('questionnaire_edit', {id: questionnaire.id}) }}" {% if questionnaire.lessons|length > 1 %} id="editerInList" {% endif %} class="btn btn-secondary mb-2" role="button">Éditer</a>
											{% if questionnaire.lessons|length > 1 %}
												<form method="post" action="{{ path('questionnaire_delete', {id: questionnaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Attention cette activité est utilisée dans d\'autres modules.\nSi vous la supprimez, elle sera également supprimée de ces autres modules.')">
												{% else %}
													<form method="post" action="{{ path('questionnaire_delete', {id: questionnaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous sur·e de vouloir supprimer cette activité ? \nCette action est irréversible.')">
													{% endif %}
													<input type="hidden" name="_method" value='DELETE'>
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ questionnaire.id) }}">
													<button class="btn btn-danger mr-2">Supprimer</button>
												</form>
											{% endif %}
											{% if lonely is defined and lonely is not null %}
												<a href="{{ path('lesson_questionnaire_add', {id: lesson_id, questionnaire_id: questionnaire.id, classroom_id: classroom_id, lonely: lonely}) }}" class="btn btn-secondary mb-2" role="button">Ajouter</a>
											{% elseif list is defined and list is not null %}
												<a href="{{ path('lesson_questionnaire_add', {id: lesson_id, questionnaire_id: questionnaire.id, list: list}) }}" class="btn btn-secondary mb-2" role="button">Ajouter</a>
											{% endif %}
										</td>
								</tr>
							{% else %}
							<tr>
								<td colspan="6">Pas de resultat trouvé</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div class="pagination">
						{{ knp_pagination_render(questionnaires) }}</div>
			</div>
		</div>
	{% endblock %}
