{% extends "base.html.twig" %}

{% block title %}Liste des Activites
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			<h1>Liste des Activites</h1>
			<table class="table border-bottom">
				<thead class="thead-dark">
					<tr>
						<th scope="col"></th>
						<th scope="col">Titre</th>
						<th scope="col">Author</th>
						<th scope="col">Niveau</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for questionnaire in questionnaires %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td><a href="{{ path('questionnaire_index', {id: questionnaire.id, lesson_id: lesson_id}) }}">
									{{ questionnaire.title }}
								</a></td>
							<td>{{ questionnaire.creator }}</td>
							<td>{{ questionnaire.difficulty }}</td>
							<td>
								{% if (is_granted('ROLE_ADMIN') or app.user.username == lesson.creator) and lesson_id is null %}
									<a href="{{ path('questionnaire_edit', {id: questionnaire.id}) }}" class="btn btn-secondary mr-2" role="button">Éditer</a>
									<form method="post" action="{{ path('questionnaire_delete', {id: questionnaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
										<input type="hidden" name="_method" value='DELETE'>
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ questionnaire.id) }}">
										<button class="btn btn-danger mr-2">Supprimer</button>
									</form>
								{% endif %}
								{% if lesson_id is defined and lesson_id is not null %}
									<a href="{{ path('add_questionnaire_lesson', {questionnaire_id: questionnaire.id, lesson_id: lesson_id, classroom_id: classroom_id}) }}" class="btn btn-secondary mb-2" role="button">Ajouter</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
