{% extends 'base.html.twig' %}

{% block title %}Create Questionnaire{% endblock %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.difficulte) }}

        <button type="button"
                class="add-another-collection-widget btn btn-secondary"
                data-list-selector="#questions-fields-list">Ajouter une question
        </button>

        <section id="questions-fields-list" class="form-group"
                 data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}"
                 data-widget-tags="{{ '<div></div>'|e }}"
                 data-widget-counter="{{ form.questions|length }}">
            {% for question in form.questions %}

                {{ form_errors(question) }}
                {{ form_widget(question) }}
                <button type="button"
                        class="add-another-collection-widget btn btn-secondary"
                        data-list-selector="#questions-fields-list">Ajouter une proposition
                </button>
                <section id="questions-fields-list" class="form-row"
                         data-prototype="{{ form_widget(form.questions.vars.prototype)|e }}"
                         data-widget-tags="{{ '<div></div>'|e }}"
                         data-widget-counter="{{ form.questions|length }}">
                    {% for question in form.questions %}

                        {{ form_errors(question) }}
                        {{ form_widget(question) }}

                    {% endfor %}

                </section>
            {% endfor %}
        </section>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // add-collection-widget.js
        $(document).ready(function () {
            var $wrapper = $('#questions-fields-list')

            $('.add-another-collection-widget').click(function (e) {
                var list = $($(this).attr('data-list-selector'))
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length

                // grab the prototype template
                var newWidget = list.attr('data-prototype')
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter)
                // Increase the counter
                counter++
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter)

                // create a new list element and add it to the list
                var newElem = $(list.attr('data-widget-tags')).html(newWidget)

                newElem.appendTo(list)
            });
            $wrapper.on('click', '.js-remove', function (e) {
                e.preventDefault()
                console.log($(this).closest('.question-item'))
                $(this).closest('.question-item')
                    .fadeOut()
                    .remove()
            });
        });
    </script>
{% endblock %}