{% extends 'base.html.twig' %}

{% block title %}
	{{ questionnaire.title }}
{% endblock %}

{% block body %}
	<div class="row mt-4">
		<div class="col-10 offset-1">
			<h3>
				{{ questionnaire.title }}
			</h3>

			{% if questionnaire.instructions %}
				<p class="alert alert-info">{{ questionnaire.instructions }}</p>
			{% endif %}


			<div class="d-flex flex-column align-items-center">
				{% if questionnaire.linkdescription %}
					<div class="d-flex align-items-center m-3">
						<img src="{{ asset('images/link-icon.webp') }}" alt="link icon" class="link-icon mr-3">
						<a href="{{ questionnaire.link }}" target="_blank" rel="noopener noreferrer" class="play-link">{{ questionnaire.linkdescription }}</a>
					</div>
				{% endif %}
				{% if vich_uploader_asset(questionnaire, 'imageFile') %}
					<img src="{{ vich_uploader_asset(questionnaire, 'imageFile') | imagine_filter('questionnaire')}}" alt="Image" class="m-3">
				{% endif %}
			</div>

			{% if finalResults['given'] is not null %}
				<div class="alert alert-primary mt-3">Vos points :
					{{ points }}
					/
					{{ questionnaire.totalScore }}</div>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-10 offset-1">
			<form method="post">
				{% for question in questions %}
					<h5 class="pt-3">{{ loop.index }}
						-
						{{ question.title }}</h5>

					{% if question.imageName is defined and question.imageName is not null %}
						<div class="m-4 text-center">
							<img src="{{ vich_uploader_asset(question, 'imageFile') | imagine_filter('question') }}" alt="profile">
						</div>
					{% endif %}

					<small class="text-muted">{{ question.score }}
						{{ question.score > 1 ? "points" : "point" }}</small>

					<ul class="list-group mb-4">
						{% for proposition in question.propositions %}

							{% set lgi_class, checked = "", "" %}
							{% if finalResults['given'] is not null and proposition.id in finalResults['given'] %}
								{% set checked = "checked" %}
								{% if proposition.id in finalResults['rights'] %}
									{% set lgi_class = "correct" %}
								{% else %}
									{% set lgi_class = "wrong" %}
								{% endif %}
							{% endif %}

							<li class="list-group-item {{ lgi_class }}">
								<label>
									<input type="radio" name="{{ question.id }}" value="{{ proposition.id }}" {{ checked }}>
									{{ proposition.text }}
								</label>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		</div>

		<div class="pagination">
			{{ knp_pagination_render(questions) }}
		</div>


		{% if count < 10 %}
			<footer class="text-center mt-3">
				<button class="btn btn-primary" type="submit">
					<i class="fas fa-check"></i>&nbsp;Je valide mes réponses
				</button>
			</footer>
		{% endif %}

	</form>
{% endblock %}
