{% extends 'base.html.twig' %}

{% block title %}
	{{ questionnaire.title }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	<h2 class="m-3">
		{{ questionnaire.title }}
	</h2>

	<p class="alert alert-info">{{ questionnaire.instructions }}</p>

	{% if questionnaire.imageName is not null %}
		<div class="m-3 text-center">
			<img src="{{ vich_uploader_asset(questionnaire, 'imageFile') }}" alt="Image" class="play__img">
		</div>
	{% endif %}

	<div class="m-3 text-center">
		{% if questionnaire.linkdescription %}
			<a href="{{ questionnaire.link }}" target="_blank" rel="noopener noreferrer">{{ questionnaire.linkdescription }}</a>
		{% endif %}
		{% if vich_uploader_asset(questionnaire, 'imageFile') %}
			<img src="{{ vich_uploader_asset(questionnaire, 'imageFile') }}" alt="Image" class="play__img">
		{% endif %}
	</div>

	{% if finalResults['given'] is not null %}
		<div class="alert alert-primary">Votre points :
			{{ points }}/{{ questionnaire.totalScore }}</div>
	{% endif %}

	<form method="post">
		{% for question in questions %}
			<article class="container">
				<h5 class="pt-3 mb-0">{{ loop.index }}
					-
					{{ question.title }}</h5>

				<div class="m-3 text-center">
					{% if question.imageName is defined and question.imageName is not null %}
						<img src="{{ vich_uploader_asset(question, 'imageFile') }}" alt="profile" class="play__question-img">
					{% endif %}
				</div>

				<small class="text-muted">{{ question.score }}
					{{ question.score > 1 ? "points" : "point" }}</small>

				<ul class="list-group">
					{% for proposition in question.propositions %}

						{% set lgi_class, checked = "", "" %}
						{% if finalResults['given'] is not null and proposition.id in finalResults['given'] %}
							{% set checked = "checked" %}
							{% if proposition.id in finalResults['rights'] %}
								{% set lgi_class = "correct" %}
							{% else %}
								{% set lgi_class = "wrong" %}
							{% endif %}
						{% endif %}

						<li class="list-group-item {{ lgi_class }}">
							<label>
								<input type="radio" name="{{ question.id }}" value="{{ proposition.id }}" {{ checked }}>
								{{ proposition.text }}
							</label>
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endfor %}

		<div class="pagination">
			{{ knp_pagination_render(questions) }}
		</div>


		{% if count < 10 %}
			<footer class="text-center mt-3">
				<button class="btn btn-primary" type="submit">
					<i class="fas fa-check"></i>&nbsp;Je valide mes réponses
				</button>
			</footer>
		{% endif %}

	</form>
{% endblock %}
