{% extends 'base.html.twig' %}

{% block title %}
	{{ questionnaire.title }}
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mr-2 mb-0">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-12">
			{{ wo_render_breadcrumbs() }}
		</div>
	</div>

	{% if classroom_id is defined %}
		classroom_id
		<pre>
		{{ dump(classroom_id) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED classroom_id
		</div>
	{% endif %}
	{% if list is defined %}
		list
		<pre>
		{{ dump(list) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED list
		</div>
	{% endif %}
	{% if lonely is defined %}
		lonely
		<pre>
		{{ dump(lonely) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED lonely
		</div>
	{% endif %}
	{% if extra is defined %}
		extra
		<pre>
		{{ dump(extra) }}
	</pre>
	{% else %}
		<div class="alert alert-danger" role="alert">
			NOT DEFINED extra
		</div>
	{% endif %}

	<div class="row">
		<div class="col-12">
			<h1>{{ questionnaire.title }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h3>Lien</h3>
			<a href="{{ questionnaire.link }}" target="_blank" rel="noopener noreferrer">{{ questionnaire.linkdescription }}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12"></div>
	</div>

	<h3>Liste des questions</h3>
	<table class="table border-bottom">
		<thead class="thead-dark">
			<tr>
				<th scope="col"></th>
				<th scope="col">Titre</th>
				<th scope="col">Réponses</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for question in questionnaire.questions %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ question.title }}</td>
					<td>
						{% for proposition in question.propositions %}
							{% if proposition.correct %}
								<span class="badge badge-pill badge-success p-2 mb-2">{{ proposition.text }}</span>
							{% else %}
								<span class="badge badge-pill badge-info p-2 mb-2">{{ proposition.text }}</span>
							{% endif %}
						{% endfor %}
					</td>
					<td>
						{% if (is_granted('ROLE_ADMIN') or app.user.username == questionnaire.creator) %}
							{% if (classroom_id is null and list is null) %}
								<a href="{{ path('question_edit', {id: question.id, questionnaire_id: questionnaire.id}) }}" class="btn btn-secondary mb-2" role="button">Éditer</a>
								<form method="post" action="{{ path('question_delete', {id: question.id, questionnaire_id: questionnaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
									<input type="hidden" name="_method" value='DELETE'>
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
									<button class="btn btn-danger mb-2">Supprimer</button>
								</form>
							{% elseif (list or lonely) and (extra is defined and extra is null) and classroom_id is null %}
								<a href="{{ path('question_edit', {id: question.id, questionnaire_id: questionnaire.id, lesson_id: lesson_id, list: list, lonely: lonely}) }}" class="btn btn-secondary mb-2" role="button">Éditer</a>
								<form method="post" action="{{ path('question_delete', {id: question.id, questionnaire_id: questionnaire.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr ?')">
									<input type="hidden" name="_method" value='DELETE'>
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
									<button class="btn btn-danger mb-2">Supprimer</button>
								</form>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if (is_granted('ROLE_ADMIN') or app.user.username == questionnaire.creator) %}
		<div class="text-right">
			{% if classroom_id is not null and (lonely is defined and lonely is not null) %}
				<a href="{{ path('questionnaire_play', {id: questionnaire.id, lesson_id: lesson_id, classroom_id: classroom_id, lonely: lonely, extra: extra}) }}" class="btn btn-success mr-2" role="button">
					Jouer
				</a>
			{% elseif list is not null %}
				<a href="{{ path('questionnaire_play', {id: questionnaire.id, lesson_id: lesson_id, classroom_id: classroom_id, list: list, extra: extra}) }}" class="btn btn-success mr-2" role="button">
					Jouer
				</a>
			{% else %}
				<a href="{{ path('questionnaire_play', {id: questionnaire.id}) }}" class="btn btn-success mr-2" role="button">
					Jouer
				</a>
			{% endif %}
			{% if (classroom_id is null and list is null) %}
				<a href="{{ path('question_new', {questionnaire_id: questionnaire.id}) }}" class="btn btn-primary">Ajouter question</a>
			{% elseif (list or lonely) and (extra is defined and extra is null) and classroom_id is null %}
				<a href="{{ path('question_new', {questionnaire_id: questionnaire.id, lesson_id: lesson_id, list: list, lonely: lonely}) }}" class="btn btn-secondary mb-2" role="button">Ajouter question</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
